<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button color="danger" (click)="home()">
        <ion-icon name="home" ></ion-icon>
      </button>
  </ion-buttons> 
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Faça seu Login</h4>

  <form padding [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
        <ion-input [(ngModel)]="email" formControlName="email" type="email" 
                    placeholder="Digite seu email aqui" clearInput clearonEdit="false"> 
  
        </ion-input>
      </ion-item>
  
      <h6 *ngIf="errorEmail" class="error">{{messageEmail}} </h6>
      
      <ion-item>
        <ion-input [(ngModel)]="password" formControlName="password" type="password" 
                    placeholder="Digite sua Senha" ClearInput ClearonEdit="false">
  
        </ion-input>
      </ion-item>
  
      <h6 *ngIf="errorPassword" class="error"> {{messagePassword}} </h6>
  
      <button ion-button block outline color="secondary">Login</button>
    
    </form>
    <h6 class="error">Ainda não é cadastrado?</h6>
    <button ion-button block inline color="secondary">Cadastrar</button>
</ion-content>
