#estrut1{
    background: #4E5166 url(../../assets/imgs/estrutura-parquinho.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#estrut2{
    background: #4E5166 url(../../assets/imgs/estrutura-bebedouro.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
