#animalS1{
    background: #4E5166 url(../../assets/imgs/lobo-guara.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#animalS2{
    background: #4E5166 url(../../assets/imgs/onca-pintada.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}