.acesso{
    background-color: white;
    color: black;
    
}

.voltar{
    background-color: #8B0000;
}

ion-content#fundo{
    background-image: url("../../assets/imgs/Mapa.jpg");
}

ion-footer#fundo{
    background-color: #488aff;
}