#crime1{
    background: #4E5166 url(../../assets/imgs/crime1.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#crime2{
    background: #4E5166 url(../../assets/imgs/crime2.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
