#novaE1{
    background: #4E5166 url(../../assets/imgs/novaespecie-passarionho.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#novaE2{
    background: #4E5166 url(../../assets/imgs/novaespecie-sapo.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
